<% if @response.response[:numFound] <= Blacklight.config[:spell_max] and @response.spelling.words.size > 0 %>
  <div id="spell">
    <h4 class="suggest"><i><%= t(:spelling_suggestion, :list => @response.spelling.words.map { |word| link_to_query(word) }.join(', or '))</i></h4>
  </div>
<% end %>
