<% # main container for facets/limits menu -%>
<div id="facets">
  <h2>Limit your search</h2>
  <% facet_field_names.each do |solr_fname| %>
    <%= render_facet_partial solr_fname %>
  <% end %>
</div>
