<% if item_in_folder?(document[id]) %>
  <div>This item is in <%= link_to 'Marked List', folder_index_path %>
</div>
<% else %>
  <%= render :partial=>'catalog/folder_form', :locals=>{:document=>document} %>
<% end %>
